
DATABASE_URL="postgresql://postgres:password@localhost:5432/codeethnics?schema=public"
BETTER_AUTH_SECRET="your-random-secret"
BETTER_AUTH_URL="http://localhost:5000"
PORT=5000
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=http://localhost:3000
